body {
    height: 100vh;
    display: flex;
    /* si usa l'overflow hidden per sicurezza */
    overflow: hidden;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}

main,
.content-main-nav,
.cont-row {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

.content-main-nav {
    flex-direction: column
}

header {
    height: 56px;
}

.my-margin-ul {
    margin-bottom: 0;
}

.custom-widht-logo-sm {
    max-width: 45px;
}

.sidebar a i {
    font-size: 1.3rem;
}

.sidebar {
    background-image: url(../img/sidebar-bg.png);
    height: calc(100vh - 56px);
    background-color: #051E34;
    max-width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .nav {
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
}

.sidebar .nav-hover .nav-link:hover {
    background-color: rgba(211, 211, 211, 0.705);
}

.form-control:focus {
    border-color: lightgray;
    background-color: rgb(219, 218, 218);
}

.my-bg-search {
    background-color: rgb(219, 218, 218);
}

.my-badge-bg {
    background-color: #165BBA!important;
}

td img {
    max-width: 32px;
    border-radius: 50%;
    margin-right: 5px;
}

.my-offcanvas-width {
    --bs-offcanvas-width: 800px;
}

.my-btn-bg-mail {
    background-color: #E9ECEF;
}

.my-margin-checkbox {
    margin-top: 1rem;
    margin-left: .7rem;
}

@media screen and (min-width:992px) {
    .sidebar {
        max-width: 250px;
    }

    .sidebar a i {
        font-size: 1rem;
    }

    .sidebar .nav-link i {
        margin-right: .5rem;
    }
}

